/* Neon Color Theme */
body {
  margin: auto;
  background: #146C94;
}

.attendance-app {
  font-family: cursive;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: 800;
  padding: 10px;
  color: #F6F1F1;
}

.container {
  width: auto;
}

.container form {
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  background-color: #2cd3e1; /* Purple */
  color: #002C3E;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container form input {
  width: 650px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.container form button {
  padding: 1%;
  width: 150px;
  background-color: #146C94;
  margin: 20px 5px 20px 5px;
  cursor: pointer;
  color: #002C3E;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container form button:hover{
  background-color: #AFD3E2;
  transform: translateY(-2px);
}

.attendance-list {
  max-height: 350px;
  overflow-y: auto;
  width: 900px;
  color: #F7F8F3;
}

.attendance-list h1 {
  text-align: center;
}

.search input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #002C3E;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #F7F8F3; 
  border: none;
}

.attendance {
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #78BCC4; 
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: none;
}

.attendance button {
  background-color: #146C94;
  cursor: pointer;
  color: #002C3E;
  border: none;
  border-radius: 20px;
  margin-top: 2px;
  height: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.attendance button:hover{
  transform:scaleX(0.9) ;
}
.no-match {
  padding: 10px;
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  border-radius: 5px;
}
