/* Neon Color Theme */
body {
  margin: auto;
  background: linear-gradient(45deg, #F7F8F3, #F7464E);
  color: #F7F8F3;
}

.attendance-app {
  font-family: cursive;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: 800;
  padding: 10px;
  color: #F7F8F3;
}

.container {
  width: auto;
}

.container form {
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  background-color: #78BCC4; /* Purple */
  color: #002C3E;
}

.container form input {
  background-color: #2cd3e1;
  width: 650px;
  height: 35px;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

.container form button {
  padding: 1%;
  width: 150px;
  background-color: #2cd3e1;
  margin: 20px 5px 20px 5px;
  cursor: pointer;
  color: #002C3E;
  border: none;
}

.container form button:hover{
  background-color: #78BCC4;
  transform: scale(1.5);
}

.attendance-list {
  background-color: #002C3E;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
  width: 700px;
  color: #F7F8F3;
}

.attendance-list h1 {
  text-align: center;
}

.search input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #002C3E;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #F7F8F3; 
}

.attendance {
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #78BCC4; 
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.attendance button {
  background-color: #002C3E; 
  cursor: pointer;
  color: #ffffff;
  border-radius: 20px;
  margin-top: 2px;
}

.no-match {
  padding: 10px;
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  border-radius: 5px;
  color: #ff3333;
}
